* {
    margin: 0;
    padding: 0;
    box-sizing: box-border;
    font-family: 'Poppins',sans-serif;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(140deg, #4158d0, #c850c0, #ffcc70);
    padding: 6px;
}

.todo-list {
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.todo-list h2 {
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #edeef0;
    border-radius: 40px;
    padding-left: 15px;
    margin-bottom: 25px;
}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}

.row button {
    border: none;
    outline: none;
    background: linear-gradient(140deg, #002765, #c850c0);
    color: #fff;
    cursor: pointer;
    border-radius: 40px;
    padding: 16px 50px;
    font-weight: 14px;
}

ul li {
    list-style: none;
    padding: 12px 8px 12px 50px;
    font-size: 17px;
    cursor: pointer;
    user-select: none;
    position: relative;
}

ul li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked {
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before {
    background-image: url(checked.png);
}

ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 30px;
}

ul li span:hover {
    color: black;
    background: #edeef0;
}